<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookstorage</title>
</head>
<body>

    <table>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>PUB</th>
            <th>PRICE</th>
            <th>MARKET PRICE</th>
            <th>op1</th>
            <th>op2</th>
        </tr>
        {% for book in all_book %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.market_price }}</td>
            <td><a href="/bookstore/operate_storages/{{ book.id }}">更新</a></td>
            <td><a href="">删除</a></td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>